# 模型名称
LLM_MODEL_ID=使用的模型名称          eg:deepseek-ai/DeepSeek-V3.2

# API密钥
LLM_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxx

# 服务地址
LLM_BASE_URL=使用的平台接口地址      eg:https://api.siliconflow.cn/v1

# 超时时间（可选，默认60秒）
LLM_TIMEOUT=60

# 服务器配置
HOST=0.0.0.0
PORT=8000

# 前端
FRONTEND_URL=我们在ZreoNews上映射的地址  eg:https://xxxxxxxx.fy.takin.cc

# CORS配置
CORS_ORIGINS=http://localhost:5173,https://xxxxxxxx.fy.takin.cc

# 日志级别
LOG_LEVEL=INFO

# Unsplash API Credentials
UNSPLASH_ACCESS_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
UNSPLASH_SECRET_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# 高德地图API配置
AMAP_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# 飞书机器人配置
FEISHU_APP_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FEISHU_APP_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FEISHU_VERIFICATION_TOKEN=xxxxxxxxxxxxxxxxxxx
FEISHU_ENCRYPT_KEY=